<%- include('../partials/header.ejs') %>

<section class="home">
  
    <h1 id="homeh1">NEW COLLECTION</h1>
    <a href="/home"><h2 id="homeh2">SHOP NOW</h2></a>
    <img id="homeimg" src="images/home.png" alt="">
 
</div>
</section>





<%- include('../partials/footer.ejs') %>